@import "reset";

.speedSnek {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: fit-content;

  &__ui {
    @extend .ui;
  }

  &__game {
    border: 2px grey solid;
    background-color: #eee;
    touch-action: none;
  }
}

.ui {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;

  &__score {
    @extend .score;
  }

  &__speedometer {
    grid-area: speedometer;
    justify-self: end;
  }
}

.score {
  grid-area: score;
  &__current {
    justify-self: start;
    font-family: monospace;
    font-size: 1.6rem;
    text-align: right;
  }

  &__best {
    justify-self: start;
    font-size: 1.6rem;
    font-family: monospace;
    text-align: right;
  }
}
