@use "reset";
@use "palette.module";

body {
  background-color: palette.$black;
}

.info {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparentize(lighten(palette.$black, 10%), 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;

  &__content {
    @extend .content;
  }
}

.content {
  background-color: lighten(palette.$black, 10%);
  border-radius: 20px;
  color: palette.$white;
  padding: 20px;
  margin: 1.5rem;

  h1 {
    text-align: center;
    line-height: 1.1;
    margin-bottom: 5px;
  }

  p {
    margin-top: 7px;
  }

  ul,
  li,
  p,
  button {
    font-family: sans-serif;
  }

  button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;
    display: block;
    padding: 5px 10px;
    margin: 20px auto 0;
    border-radius: 10px;
  }

  &__end {
    display: none;
    text-align: center;

    p {
      font-size: 1.5rem;
    }
  }
}

.speedSnek {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;

  &__ui {
    @extend .ui;
  }

  &__game {
    @extend .game;
  }
}

.ui {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;

  &__score {
    @extend .score;
  }

  &__speedometer {
    justify-self: end;
    margin-right: 0;
    width: 100%;
    max-width: 400px;
    background-color: lighten(palette.$black, 10%);
    border-radius: 20px;
    border: 5px solid lighten(palette.$black, 10%);
  }
}

.score {
  color: palette.$white;
  background-color: lighten(palette.$black, 10%);
  padding: 8px 15px;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 1.5rem;
  font-family: monospace;
  text-align: right;
  white-space: nowrap;

  @media (max-width: 640px) {
    font-size: 1rem;
  }

  &__current {
    justify-self: start;
  }

  &__best {
    justify-self: start;
  }
}

.game {
  position: relative;
  background-color: lighten(palette.$black, 20%);
  border-radius: 20px;
  margin-top: 10px;

  &__message {
    font-family: sans-serif;
    color: palette.$white;
    font-size: 2rem;
    pointer-events: none;
    position: absolute;
    left: 50%;
    padding: 5px 15px;
    transform: translate(-50%, 0);
    line-height: 1;
    user-select: none;
  }

  &__board {
    touch-action: none;
  }
}
