@import "reset";

#speedSnek {
  touch-action: none;

  #ui {
    display: block;
    margin: 0 auto;
  }

  #game {
    display: block;
    margin: 0 auto;
    border: 2px grey solid;
    background-color: #eee;
  }
}
